<!DOCTYPE html>
<html lang="" en xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: page-header"></div>

<body class="container">

<div class="signup col-xl-12"> <!--add later: class="signup col-xl-12"-->

    <h1>Don't have an account?</h1>
    <center>
        <h3 style="color: #A93226 ">Register below!</h3>
    </center>
    <br>
    <br>
    <br>
    <form method="post" > <!--took off "action=" here.  does this form need to submit TO something?-->
    <input th:field="${signup.username}"  type="text" name="username"   value="username" >
        <br>
        <br>
        <input th:field="${signup.emailAddress}" type="text" name="emailAddress" value="emailAddress">
        <br>
        <br>
    <input th:field="${signup.password}" type="text" name="password" value="password" >
    <br>
    <br>
    <input th:field="${signup.verifyPassword}" type="text" name="verifyPassword" value="verifyPassword">
    <br>
    <br>
        <button class="signupButton">
            Register
        </button>
    </form>


</div>
</body>
