<!DOCTYPE html>
<html lang="" en xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: page-header"></div>

<body class="container">

<div class="signup col-xl-12"> <!--add later: class="signup col-xl-12"-->

    <h1>Don't have an account?</h1>
    <center>
        <h3 style="color: #A93226 ">Register below!</h3>
    </center>
    <br>
    <br>
    <br>
    <form>
    <input type="text" value="Username" >
        <br>
        <br>
        <input type="text"  value="email address">
        <br>
        <br>
    <input type="text" value="password" >
    <br>
    <br>
    <input type="text"  value="**verify password">
    <br>
    <br>
        <button class="signupButton">
            Sign up
        </button>
    </form>


</div>
</body>
